<?xml version="1.0" encoding="UTF-8"?>
<suite name="Default suite">
	<listeners>
		<listener class-name="com.web.utilities.TestListener" />
	</listeners>
   <test name = "Parallel Tests" parallel = "methods" thread-count = "2">
	<classes>
	
		<class name="com.testcase.testsuite.SignupForMagento" />

	</classes>
	</test>
	
	
</suite>