<?xml version="1.0" encoding="UTF-8"?>
<suite name="Default suite">
	<listeners>
		<listener class-name="com.web.utilities.TestListener" />
	</listeners>
	<test name="Regression Assessment Suite" >
	<classes>
	
		<class name="com.testcase.testsuite.NaukriUpdate" />
		
	</classes>
	</test>
	
	
</suite>